source https://api.nuget.org/v3/index.json

storage:none

nuget Elmish.Toastr
nuget Fable.Browser.Navigator
nuget Fable.Core
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Elmish.React
nuget Fable.FontAwesome.Free
nuget Fable.Promise
nuget FSharp.Core
nuget Fulma
nuget Thoth.Fetch
github Prolucid/fable-import-momentjs Fable.Helpers.Moment.fs
github Prolucid/fable-import-momentjs Fable.Import.Moment.fs